# OS
.DS_Store

# Env
.env

# Go build outputs
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Binaries
/auth/main
/notes/main

# Logs and temp
*.log
*.tmp
*.swp

# Shell scripts
*.sh

# Vendor
/vendor/

# IDE
.vscode/
.idea/

# Docker artifacts
**/.dockerignore
